body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
 }
 
 p {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  font-size: 12px
 }
 
 text {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  font-size: 12px
 }
 
 .user-input {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: black;
  color: cyan;
  font-size: 18px;
  padding: 5px;
  width: 100%;
 
 }
 .game-text {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  font-size: 12px
 }
 /*
 input[type=“text”]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
 } */
 /* input {
  border: none;
  background-color: transparent;
 } */
 
 input:focus, textarea:focus, select:focus{
  outline: none;
 }
 
 .btn {
  font-family: 'Press Start 2P', cursive;
  background-color: cyan;
  color: black;
 }
 
 h1 {
  background-color: black;
  color: cyan;
  font-family: 'Press Start 2P', cursive;
  font-size: 70px;
 }
 
 h2 {
  background-color: magenta;
  color: black;
  padding: 10px;
  font-size:  12px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
 }
 
 h4 {
  background-color: magenta;
  color: black;
  padding: 10px;
  font-size:  12px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
 }
 
 strong {
  color: cyan;
 
 }
 
 /* Style the top navigation bar */
 .topnav {
  background-color: black;
  color: cyan;
  font-family: 'Press Start 2P', cursive;
  font-size: 70px;
 
 }
 
 /* Style the content */
 .content {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 12px;
 }
 
 div.absolute {
  position: absolute;
  width: 100%;
  bottom: 110px;
  border: 3px solid cyan;
  max-height: 50vh;
  overflow: scroll;
  padding: 20px;
 }
 /* #data {
  overflow-x:hidden;
  overflow-y:visible;
  height:500px;
 } */
 
 
 /* Style the footer */
 .footer {
  background-color: magenta;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }